.row {
    background: url("https://mdbootstrap.com/img/Photos/Others/images/91.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.card {
    background-color: transparent;
    color: white;
    margin-left: 55%;
    font-family: fantasy;
   
    font-size: 25px;
}
input{
    font-size: 20px;
}

.btn[type=submit]{
    border-radius: 50px;
    font-size: 25px;
}
h2{
    color: #fff;
}
img{
    width: 120px;
    height: 120px;
}
select{
    color: rgb(36, 34, 34);
    font-size: 20px;
}
